<!DOCTYPE html>
<html>
<head>
    <title>Online Success Predictor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">
    <h1>Online Success Predictor</h1>

    <form method="POST">

        <input type="number" name="learners"
               placeholder="Number of Learners" required>

        <input type="number" step="0.1" name="rating"
               placeholder="Rating (1–5)"
               min="1" max="5" required>

        <input type="number" step="0.1" name="difficulty"
               placeholder="Difficulty (1–2 Beginner, 3 Intermediate, 4–5 Advanced)"
               min="1" max="5" required>

        <input type="number" step="0.1" name="duration"
               placeholder="Duration (hours)" required>

        <button type="submit">Predict Success</button>

    </form>
</div>

</body>
</html>






